.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-button {
  border: none;
  border-radius: .5em;
  background-color: #555555;
  color: white;
  padding: 0 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  position: relative;
  left: 914px;
}

.add-button:focus {
  outline: none;
}

.btn-text {
  display: inline-block;
  border-left: 1px solid white;
  padding: 10px;
  margin: 0 0 0 10px;
}
