table {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: #555555;
    color: white;
}

tbody {
    background-color: #e7e7e7;
}


th, td {
    padding: 1em;
    border-bottom: 2px solid white; 
}

tr:last-of-type td {
    border: none;
}
